
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<header>
    <meta charset="UTF-8">
    <link href="~/Content/Estilos/main.css" rel="stylesheet" />
</header>

<body class="corpo">

    <nav>
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("Início", "Index", "StreetFighter")</li>
                <li><a href="https://www.google.com.br/?gfe_rd=cr&ei=AUAgV6qhDYyFxAT98LuQCA#q=street+fighter"><b>Notícias</b></a></li>
                <li>@Html.ActionLink("Ficha Técnica", "FichaTecnica", "StreetFighter")</li>
                <li>@Html.ActionLink("Sobre", "SobreMim", "StreetFighter")</li>
            </ul>
        </div>
    </nav>

    <h1 id="divtitulo">@ViewBag.Title</h1>
    <div id="divcorpo">
        @RenderBody()
    </div>
</body>
</html>