@model IEnumerable<LojaNinja.Dominio.Usuario>

@{
    Layout = "~/Shared/_SharedUsuario.cshtml";
}

<div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.Raw(String.Join(", ", item.Permissoes.Select(p => p.Nome).ToArray())) @* Transforma lista em String. Separa pela vírgula*@
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>