@model SobreMimModel

@{
    ViewBag.Title = "Sobre Mim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="nome">Arthur</h2>
<img id="imagem-arthur" src="http://4.bp.blogspot.com/-OdhyHICzElY/UiiZ-GadrGI/AAAAAAAAABg/KJhDkI5ky2o/s1600/ArthurTC.jpg" alt="Imagem não disponvel">
<p>
    <strong> Primeira aparição:</strong> @Model.PrimeiraAparicao
    <br>
    <strong>Nascimento:</strong> @Model.Nascimento
    <br>
    <strong>Altura:</strong> @Model.Altura m.
    <br>
    <strong>Peso:</strong> @Model.Peso kg.
    <br>
    <strong>Medidas:</strong> @Model.Medidas<br>
    <strong>Tipo sanguíneo:</strong> @Model.TipoSanguineo<br>
    <strong>Habilidades especiais:</strong> @Model.Habilidades<br>
    <strong>Gosta:</strong> @Model.Gosta<br>
    <strong>Desgosta:</strong> @Model.Desgosta<br>
    <strong>Estilo de luta:</strong> @Model.EstiloDeLuta<br>
    <strong>Origem:</strong> @Model.Origem<br>
    <strong>Uma fala de vitória:</strong> @Model.FalaDeVitoria<br>
    <strong>SSF2 nickname:</strong> @Model.Nick1<br>
    <strong>SFA3 nickname:</strong> @Model.Nick2<br>
    <strong>SF4 nickname:</strong> @Model.Nick3<br>
    <strong>SFA3 stage:</strong> @Model.Stage1
    <br>
    <strong>SF2 stage:</strong> @Model.Stage2<br>
    <strong>Golpes especiais famosos:</strong> @Model.Golpes<br>
</p>

